n8n-workflow-example.json
{
  "name": "Video Transcription and Script Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "transcribe-and-script",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "transcribe-and-script"
    },
    {
      "parameters": {
        "filePropertyName": "video",
        "options": {}
      },
      "id": "file-extractor",
      "name": "Extract Video File",
      "type": "n8n-nodes-base.extractFile",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "fileId": "={{ $json.fileId }}",
        "model": "whisper-1",
        "options": {
          "language": "auto"
        }
      },
      "id": "whisper-transcription",
      "name": "Whisper Transcription",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a professional script writer. Generate 3 different types of scripts based on the provided transcript:\n\n1. Short Social Post (1-2 sentences, engaging for social media)\n2. 1-Minute Explainer (structured for a 1-minute video)\n3. Blog Intro (compelling introduction for a blog post)\n\nReturn the response as a JSON object with 'transcript' and 'scripts' array containing objects with 'title' and 'content' fields."
            },
            {
              "role": "user",
              "content": "=Please generate scripts based on this transcript:\n\n{{ $json.text }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 2000
        }
      },
      "id": "gpt-script-generation",
      "name": "GPT Script Generation",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the GPT response and format it properly\nconst gptResponse = $input.first().json.message.content;\n\n// Try to parse the JSON response\nlet parsedResponse;\ntry {\n  parsedResponse = JSON.parse(gptResponse);\n} catch (error) {\n  // If parsing fails, create a fallback response\n  parsedResponse = {\n    transcript: $('Whisper Transcription').first().json.text,\n    scripts: [\n      {\n        title: \"Short Social Post\",\n        content: \"Generated from: \" + $('Whisper Transcription').first().json.text.substring(0, 100) + \"...\"\n      },\n      {\n        title: \"1-Minute Explainer\",\n        content: \"Generated from: \" + $('Whisper Transcription').first().json.text.substring(0, 200) + \"...\"\n      },\n      {\n        title: \"Blog Intro\",\n        content: \"Generated from: \" + $('Whisper Transcription').first().json.text.substring(0, 150) + \"...\"\n      }\n    ]\n  };\n}\n\n// Ensure we have the transcript from Whisper\nif (!parsedResponse.transcript) {\n  parsedResponse.transcript = $('Whisper Transcription').first().json.text;\n}\n\nreturn parsedResponse;"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Video File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Video File": {
      "main": [
        [
          {
            "node": "Whisper Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcription": {
      "main": [
        [
          {
            "node": "GPT Script Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Script Generation": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "video-transcription-script-generation",
  "tags": []
}
